* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background: whitesmoke;
}
#container {
  display: flex;
  width: 100%;
  height: 100%;
  background: wheat;
  flex-wrap: wrap;
}
#container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header {
  background: honeydew;
  flex-basis: 100%;
  height: 100px;
  order: 1;
}
#footer {
  background: indianred;
  flex-basis: 100%;
  height: 100px;
  order: 5;
}
#left {
    background: ivory;
    flex: 2;
    height: calc(100% - 100px - 100px);
    order: 2;
}
#main {
    background: khaki;
    flex: 4;
    order: 4;
}
#right {
    background: lightcoral;
    flex:1;
    order: 3;
  
}
@media(max-width: 500px){
  #left{
    flex: 1;
    height: calc(100% - 100px - 75px - 200px);
  }
  #main{
    flex-basis: 100%;
    height: 200px;
  }
}

